<div class="card">
  <div class="card-header">
    Add Student
  </div>
  <div class="card-body">
    <form ngNativeValidate [formGroup]="studentForm" (ngSubmit)="registerStudent()">
      <div class="mb-3">
        <label for="" class="form-label">First Name:</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
          placeholder="Write your first name!" formControlName="firstName" required>
        <small id="helpId" class="form-text text-muted">Help text</small>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Last Name:</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
          placeholder="Write your last name!"  formControlName="lastName" required>
        <small id="helpId" class="form-text text-muted">Help text</small>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Program:</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
          placeholder="Write the program to which you belong!" formControlName="program" required>
        <small id="helpId" class="form-text text-muted">Help text</small>
      </div>
      <div class="btn-group" role="group" aria-label="">
        <button type="submit" class="btn btn-success">Register</button>
        <button type="button" routerLink="/list-student" class="btn btn-primary">Cancel</button>
        <button type="reset" class="btn btn-warning">Clean</button>
      </div>
    </form>
  </div>
</div>