<nav class="navbar navbar-expand  navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">
            Managment Students
            <span class="visually-hidden">
                (current)
            </span>
        </a>
        <a class="nav-item nav-link" routerLink="list-student">List Students</a>
        <a class="nav-item nav-link" routerLink="add-student">Add Students</a>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>